/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Kanit&display=swap');

.Cart{
    font-family: "Kanit";
}

.CartItems{
    background-color: white;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    padding: 3.8em 0em 4.5em 0em;
}