/* Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Playball&display=swap');

* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: white;
  height: 100vh;
}

::-webkit-scrollbar {
  display: none;
}